body {
    background-position: left,right,center;
    background-repeat:   repeat-y,repeat-y,repeat;
    color:               white;
}

body.admin {
    background-image:url('/images/white-bg.jpg'),url('/images/white-bg2.jpg'),url('/images/black.png');
}

body.white {
    background-image:url('/images/white-bg.jpg'),url('/images/white-bg2.jpg'),url('/images/black.png');
}

body.green {
    background-image:url('/images/green-bg.jpg'),url('/images/green-bg2.jpg'),url('/images/black.png');
}

body.yellow {
    background-image:url('/images/yellow-bg.jpg'),url('/images/yellow-bg2.jpg'),url('/images/black.png');
}

body.red {
    background-image:url('/images/red-bg.jpg'),url('/images/red-bg2.jpg'),url('/images/black.png');
}

div.admin {
    position: fixed;
    top:      40px;
    left:     200px;
}

div.menu {
    position: fixed;
    top:      40px;
    left:     40px;
    color:    blue;
}

a {
    color:           blue;
    text-decoration: none;
}

a:hover {
    color:    green;
}
